.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    padding: 1rem;
    width: 315px;
    
    background-color: #fff;

    img {
        width: 285px;
        height: 285px;
        border-radius: 5px;
    }

    h2 {
        font-size: 1.35rem;
        color: hsl(218, 44%, 22%);
        text-align: center;
        
        padding: 1rem;
        margin: 0;
    }

    p {
        color: hsl(220, 15%, 55%);
        font-size: 15px;
        text-align: center;

        padding: 0 1rem 1rem 1rem;
        margin: 0;
    }
}